*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja-general{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
}

.caja1{
    background-color: red;
    color: white;
}

.caja1:hover{
    background-color: black;
    color: white;
}